* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    background-color: black;
    color: white;
    padding: 2rem;
}

a {
    text-decoration: none;
}

ul {
    padding-top: 10px;
}

aside {
    background-color: lightgrey;
    float: left;
    width: 30%;
    padding: 20px 60px;
    margin-right: 40px;
}

main {
    padding: 30px 20px;
}

footer {
    background-color: grey;
    text-align: center;
    color: white;
    padding: 10px;  
    display: inline-block;
    width: 100%;
}